
header{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    flex-grow: 1;
    padding: 8px 10px;
    position:relative;
    margin-top: 10px;
}
@media  screen and (max-width:767px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
    }
}
.dash-board-header-profile-container{
    display: flex;
    align-items: center;
    gap:15px;
    
}
.dash-board-header-img-container{
    position: relative;
    border-radius: 50%;
}

.dash-board-header-img-container>img{
    height: 60px;
    border-radius: 50%;
    border: solid blue 3px;
}
.dash-board-header-img-container>p{
    position: absolute;
    text-align: center;
    top:5px;
    right:-8px;
    font-size: 13px;
    background-color: Blue;
    width:20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.dash-board-header-content-container  > h1{
    font-size: 15px;
}
.dash-board-header-content-container > p{
    font-weight: 500;
    font-size: 10px;
}
.dash-board-date-selector-constainer{
    display: flex;
    align-items: center;
    gap:10px;
}
.dash-board-date-selector-constainer > p{
    color:grey;
    font-size:10px;
}

.Hammburger-icon{
  display: none;

}

@media screen and (max-width:767px) {
    .Hammburger-icon{
        display: flex;
        position: absolute;
        right: 15px;
        top:40px;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.date-seletor{
 display: flex;
 align-items: center;
 gap:5px;
 border-radius: 10px;
 border: solid #000 0.4px;
 padding: 5px 8px;
 font-weight: 500;
 font-size: 10px;
 outline: none;
}

.popup-container{
    display: none;
}

@media screen and (max-width:767px){
    .popup-container{
        display: flex;
        border: solid red;
        width: 100vw;
        min-height: 150vw;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.395);
    }
}
.cross{
    position: absolute;
    top: 80px;
    right: 30px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    border: #fff solid 1px;

}
.active{
    background-color: skyblue;
    color: blue;
}
.dash-board-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap:10px;
    padding: 8px;
    color: #fff;
    background-color: #000
}