
.side-bar{
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:15px;
    border-right: solid rgba(128, 128, 128, 0.434) 1.5px;
    padding: 15px 10px 10px 20px;
    position: relative;
}
@media screen and (max-width:767px) {
    .side-bar{
        display: none;
    }
}

.dash-board-logo{
    width: 130px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 207, 235, 0.265);
    border:none;
    border-radius: 10px;
    gap: 5px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: inset 2px 2px 5px #e1dede,inset -2px -2px 5px #cbc9c9;

}
.search-bar> .search-icon{
    font-size: 20px;
    color: grey;
}
.search-bar > input{
    width: 100px;
    font-size: 15px;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;

}
.dash-board-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap:10px;
    padding: 8px;
    background-color: rgba(135, 207, 235, 0.237);
}
.dash-board-container:active,.dash-board-container:hover{
    color: blue;
    background-color: rgba(135, 207, 235, 0.612);
}

.dash-board-container > .dash-board{
    font-weight: 500;
}

.hr-line{
   background-color: rgba(154, 153, 153, 0.447);
   height: 1.5px;
   border: none;
}

.tabs-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.navigation-tabs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap:10px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
}
.profile-container{
    display: flex;
    align-items: center;
    gap:10px;
    font-weight:500;
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.profile-container>.profile-img{
    height: 30px;
}
.profile-container .store-name{
    color: rgba(128, 128, 128, 0.808);

}
.active{
    background-color: skyblue;
    color: blue;
}